In [34]:
import pandas as pd
import torch
from torch.utils.data import DataLoader
from tqdm import tqdm
from typing import Union, Dict, List
import numpy as np
from sklearn import preprocessing
from torch.utils.data import Dataset
from datetime import datetime

from utils import load_config

In [107]:
class ChildInstituteDataset(Dataset):
    def __init__(self, data):
        self.data = data

    def __len__(self):
        return len(self.data)

    def __getitem__(self, idx):
        date_num = int(self.data[idx].get('date').replace('-', ''))
        return {
            'X': torch.from_numpy(self.data[idx].get('X')),
            'y': torch.tensor(self.data[idx]['event'], dtype=torch.float32),
            'series_id': torch.Tensor([self.data[idx].get('series_id')]),
            'date': date_num,
            'step': torch.Tensor([self.data[idx].get('step')]),
        }
    # def __getitem__(self, idx):
    #     date = datetime.strptime(self.data[idx].get('date'), '%Y-%m-%d')
    #     year = date.year
    #     month = date.month
    #     day = date.day
    #     return {
    #         'X': torch.from_numpy(self.data[idx].get('X')),
    #         'y': torch.tensor(self.data[idx]['event'], dtype=torch.float32),
    #         'series_id': torch.Tensor([self.data[idx].get('series_id')]),
    #         'year': torch.tensor([year], dtype=torch.int32),
    #         'month': torch.tensor([month], dtype=torch.int32), 
    #         'day': torch.tensor([day], dtype=torch.int32),
    #         'step': torch.Tensor([self.data[idx].get('step')]),
    #     }

def preprocess(data, key: List[str] = ['series_id'], **kwargs) -> pd.DataFrame:
    data.rename(columns={'timestamp': 'date'}, inplace=True)
    data['date'] = pd.to_datetime(data['date'], utc=True)
    data['date'] = data['date'].dt.date.astype(str)

    return data

def scale(data, config: Dict[str, str]) -> None:
    excluding_columnns = config.get('general').get('data').get('excluding_columns')
    target_columns = list(set(data.columns) - set(excluding_columnns))
    scaler = getattr(preprocessing, config.get('train').get('data').get('scaler'))()

    data.loc[:, target_columns] = scaler.fit_transform(data.filter(items=target_columns))


def to_list(data, window_size: int, config: Dict[str, str], step: int = 1, key: List[str] = ['series_id']) -> List[pd.DataFrame]:
    data = [datum[1] for datum in data.groupby(key)]
    for datum in data:
        scale(datum, config)

    start_of_feature_index = np.where(data[0].columns.str.find('event') == 0)[0].item()
    slided_window = [
            np.lib.stride_tricks.sliding_window_view(
                datum.iloc[:, start_of_feature_index:],
                window_size,
                axis=0)[::step]
            for datum
            in data]

    return np.concatenate(slided_window, dtype=np.float32)

def extract_keys(data, window_size: int, step: int = 1, key: List[str] = ['series_id']):
    return (
        data.groupby(key).apply(lambda x: x.iloc[window_size-1:])
        .drop(columns=key)
        .reset_index()
        .drop(columns=[f'level_{len(key)}', 'anglez', 'enmo'])
        .to_dict('records')
    )[::step]

In [108]:
test_data = pd.read_parquet('./data/test_series.parquet')
test_data['event'] = 0
test_data = test_data[['series_id', 'timestamp', 'step', 'event', 'anglez', 'enmo']]

In [109]:
test_data['series_id'], unique_series = pd.factorize(test_data['series_id'])
id_map = {idx: id_ for idx, id_ in enumerate(unique_series)}
id_map

{0: '038441c925bb', 1: '03d92c9f6f8a', 2: '0402a003dae9'}

In [110]:
import warnings
warnings.filterwarnings("ignore", category=FutureWarning)

config = load_config('./configs')

window_size = config.get('inference').get('window_size')
step = config.get('inference').get('step')

preprocessed_data = preprocess(test_data)

test_list = to_list(preprocessed_data, window_size, config, step)
test_keys = extract_keys(preprocessed_data, window_size, step)

for i, test_key in enumerate(test_keys):
        test_key['X'] = test_list[i]
test_list = test_keys

test_dataset = ChildInstituteDataset(test_list)

batch_size = config.get('inference').get('batch_size')
test_dataloader = DataLoader(test_dataset, batch_size=1, shuffle=False)

In [111]:
test_list

[{'series_id': 0,
  'date': '2018-08-14',
  'step': 19,
  'event': 0,
  'X': array([[0.       , 0.       , 0.       , 0.       , 0.       , 0.       ,
          0.       , 0.       , 0.       , 0.       , 0.       , 0.       ,
          0.       , 0.       , 0.       , 0.       , 0.       , 0.       ,
          0.       , 0.       ],
         [1.6763793, 1.676382 , 1.6763872, 1.676382 , 1.676382 , 1.6763793,
          1.6763793, 1.6763793, 1.6805546, 1.6879761, 1.6800939, 1.6733716,
          1.6705861, 1.6705861, 1.6705861, 1.6705861, 1.6705861, 1.6705941,
          2.8991497, 3.0279403],
         [1.1931645, 1.1583107, 1.1757376, 1.1234565, 1.1583107, 1.1931645,
          1.1931645, 1.2105914, 1.2977259, 1.1931645, 1.4022878, 1.1757376,
          1.2105914, 1.1408838, 1.1408838, 1.1408838, 1.1583107, 1.1931645,
          4.29516  , 0.3043905]], dtype=float32)},
 {'series_id': 0,
  'date': '2018-08-14',
  'step': 29,
  'event': 0,
  'X': array([[ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
           0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
           0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
           0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
         [ 1.6800939 ,  1.6733716 ,  1.6705861 ,  1.6705861 ,  1.6705861 ,
           1.6705861 ,  1.6705861 ,  1.6705941 ,  2.8991497 ,  3.0279403 ,
           2.7496583 ,  3.3523242 ,  3.3802595 ,  2.5845766 ,  2.384756  ,
           2.329501  ,  2.348079  ,  1.4371043 , -0.46194455, -0.46240786],
         [ 1.4022878 ,  1.1757376 ,  1.2105914 ,  1.1408838 ,  1.1408838 ,
           1.1408838 ,  1.1583107 ,  1.1931645 ,  4.29516   ,  0.3043905 ,
           0.37409845, -0.8109336 ,  1.5591303 , -1.3685956 , -1.1594725 ,
          -0.51467556, -0.58438337,  9.453534  , -0.28812543, -0.21841761]],
        dtype=float32)},
 {'series_id': 0,
  'date': '2018-08-14',
  'step': 39,
  'event': 0,
  'X': array([[ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
           0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
           0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
           0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
         [ 2.7496583 ,  3.3523242 ,  3.3802595 ,  2.5845766 ,  2.384756  ,
           2.329501  ,  2.348079  ,  1.4371043 , -0.46194455, -0.46240786,
          -0.46267724, -0.46214125, -0.46191868, -0.46190327, -0.46190327,
          -0.46247265, -0.46190327, -0.4628998 , -0.46252182, -0.46209997],
         [ 0.37409845, -0.8109336 ,  1.5591303 , -1.3685956 , -1.1594725 ,
          -0.51467556, -0.58438337,  9.453534  , -0.28812543, -0.21841761,
          -0.2532716 , -0.23584452, -0.27069852, -0.28812543, -0.2532716 ,
          -0.09642909, -0.21841761, -0.1835638 , -0.14870982, -0.23584452]],
        dtype=float32)},
 {'series_id': 0,
  'date': '2018-08-14',
  'step': 49,
  'event': 0,
  'X': array([[ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
           0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
           0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
           0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
         [-0.46267724, -0.46214125, -0.46191868, -0.46190327, -0.46190327,
          -0.46247265, -0.46190327, -0.4628998 , -0.46252182, -0.46209997,
          -0.4626099 , -0.46235612, -0.46218014, -0.46213868, -0.46291265,
          -0.46219575, -0.4628222 , -0.4629231 , -0.4630809 , -0.46311468],
         [-0.2532716 , -0.23584452, -0.27069852, -0.28812543, -0.2532716 ,
          -0.09642909, -0.21841761, -0.1835638 , -0.14870982, -0.23584452,
          -0.23584452, -0.2009907 , -0.2532716 , -0.23584452, -0.23584452,
          -0.28812543, -0.1835638 , -0.14870982, -0.13128291, -0.2009907 ]],
        dtype=float32)},
 {'series_id': 0,
  'date': '2018-08-14',
  'step': 59,
  'event': 0,
  'X': array([[ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
           0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
           0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
           0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
         [-0.4626099 , -0.46235612, -0.46218014, -0.46213868, -0.46291265,
          -0.46219575, -0.4628222 , -0.4629231 , -0.4630809 , -0.46311468,
          -0.46309137, -0.46336567, -0.46303174, -0.46309137, -0.46288422,
          -0.46253484, -0.46302918, -0.4630422 , -0.46292055, -0.46295154],
         [-0.23584452, -0.2009907 , -0.2532716 , -0.23584452, -0.23584452,
          -0.28812543, -0.1835638 , -0.14870982, -0.13128291, -0.2009907 ,
          -0.1835638 , -0.2009907 , -0.28812543, -0.2009907 , -0.21841761,
          -0.23584452, -0.21841761, -0.2009907 , -0.16613689, -0.27069852]],
        dtype=float32)},
 {'series_id': 0,
  'date': '2018-08-14',
  'step': 69,
  'event': 0,
  'X': array([[ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
           0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
           0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
           0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
         [-0.46309137, -0.46336567, -0.46303174, -0.46309137, -0.46288422,
          -0.46253484, -0.46302918, -0.4630422 , -0.46292055, -0.46295154,
          -0.4629774 , -0.46274972, -0.46228108, -0.4625064 , -0.4629877 ,
          -0.46331906, -0.46278843, -0.46474278, -0.46590757, -0.46223447],
         [-0.1835638 , -0.2009907 , -0.28812543, -0.2009907 , -0.21841761,
          -0.23584452, -0.21841761, -0.2009907 , -0.16613689, -0.27069852,
          -0.1835638 , -0.2009907 , -0.23584452, -0.14870982, -0.28812543,
          -0.1835638 , -0.2532716 , -0.28812543, -0.3578332 , -0.27069852]],
        dtype=float32)},
 {'series_id': 0,
  'date': '2018-08-14',
  'step': 79,
  'event': 0,
  'X': array([[ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
           0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
           0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
           0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
         [-0.4629774 , -0.46274972, -0.46228108, -0.4625064 , -0.4629877 ,
          -0.46331906, -0.46278843, -0.46474278, -0.46590757, -0.46223447,
          -0.4622629 , -0.46309394, -0.46361414, -0.4685196 , -0.4671269 ,
          -0.46362203, -0.46250898, -0.4634356 , -0.4625684 , -0.46213868],
         [-0.1835638 , -0.2009907 , -0.23584452, -0.14870982, -0.28812543,
          -0.1835638 , -0.2532716 , -0.28812543, -0.3578332 , -0.27069852,
          -0.30555233, -0.28812543, -0.30555233, -0.30555233, -0.2532716 ,
          -0.23584452, -0.28812543, -0.28812543, -0.28812543, -0.27069852]],
        dtype=float32)},
 {'series_id': 0,
  'date': '2018-08-14',
  'step': 89,
  'event': 0,
  'X': array([[ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
           0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
           0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
           0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
         [-0.4622629 , -0.46309394, -0.46361414, -0.4685196 , -0.4671269 ,
          -0.46362203, -0.46250898, -0.4634356 , -0.4625684 , -0.46213868,
          -0.46191353, -0.46199372, -0.46332422, -0.46452534, -0.4626642 ,
          -0.4621128 , -0.46230438, -0.462206  , -0.46199372, -0.46192124],
         [-0.30555233, -0.28812543, -0.30555233, -0.30555233, -0.2532716 ,
          -0.23584452, -0.28812543, -0.28812543, -0.28812543, -0.27069852,
          -0.34040615, -0.3752601 , -0.27069852, -0.28812543, -0.27069852,
          -0.34040615, -0.30555233, -0.32297924, -0.42754087, -0.30555233]],
        dtype=float32)},
 {'series_id': 0,
  'date': '2018-08-14',
  'step': 99,
  'event': 0,
  'X': array([[ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
           0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
           0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
           0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
         [-0.46191353, -0.46199372, -0.46332422, -0.46452534, -0.4626642 ,
          -0.4621128 , -0.46230438, -0.462206  , -0.46199372, -0.46192124,
          -0.46218014, -0.4627989 , -0.46407488, -0.4624053 , -0.4622396 ,
          -0.46306294, -0.4629075 , -0.46624944, -0.46560484, -0.46403617],
         [-0.34040615, -0.3752601 , -0.27069852, -0.28812543, -0.27069852,
          -0.34040615, -0.30555233, -0.32297924, -0.42754087, -0.30555233,
          -0.3752601 , -0.27069852, -0.30555233, -0.3578332 , -0.3578332 ,
          -0.3578332 , -0.21841761, -0.23584452, -0.28812543, -0.32297924]],
        dtype=float32)},
 {'series_id': 0,
  'date': '2018-08-14',
  'step': 109,
  'event': 0,
  'X': array([[ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
           0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
           0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
           0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
         [-0.46218014, -0.4627989 , -0.46407488, -0.4624053 , -0.4622396 ,
          -0.46306294, -0.4629075 , -0.46624944, -0.46560484, -0.46403617,
          -0.4657731 , -0.46649018, -0.46811572, -0.46704927, -0.4664746 ,
          -0.4641888 , -0.46644613, -0.465465  , -0.46718377, -0.46443745],
         [-0.3752601 , -0.27069852, -0.30555233, -0.3578332 , -0.3578332 ,
          -0.3578332 , -0.21841761, -0.23584452, -0.28812543, -0.32297924,
          -0.30555233, -0.28812543, -0.27069852, -0.27069852, -0.30555233,
          -0.28812543, -0.2532716 , -0.27069852, -0.28812543, -0.39268705]],
        dtype=float32)},
 {'series_id': 0,
  'date': '2018-08-14',
  'step': 119,
  'event': 0,
  'X': array([[ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
           0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
           0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
           0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
         [-0.4657731 , -0.46649018, -0.46811572, -0.46704927, -0.4664746 ,
          -0.4641888 , -0.46644613, -0.465465  , -0.46718377, -0.46443745,
          -0.46297997, -0.4661975 , -0.46784398, -0.4682269 , -0.4684315 ,
          -0.4634512 , -0.46761096, -0.46668944, -0.46669972, -0.46521914],
         [-0.30555233, -0.28812543, -0.27069852, -0.27069852, -0.30555233,
          -0.28812543, -0.2532716 , -0.27069852, -0.28812543, -0.39268705,
          -0.28812543, -0.30555233, -0.3578332 , -0.28812543, -0.3578332 ,
          -0.32297924, -0.3578332 , -0.3578332 , -0.2532716 , -0.3578332 ]],
        dtype=float32)},
 {'series_id': 0,
  'date': '2018-08-14',
  'step': 129,
  'event': 0,
  'X': array([[ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
           0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
           0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
           0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
         [-0.46297997, -0.4661975 , -0.46784398, -0.4682269 , -0.4684315 ,
          -0.4634512 , -0.46761096, -0.46668944, -0.46669972, -0.46521914,
          -0.46270823, -0.4675436 , -0.46874472, -0.46795517, -0.4679915 ,
          -0.46780765, -0.46659625, -0.46721497, -0.46787757, -0.46833572],
         [-0.28812543, -0.30555233, -0.3578332 , -0.28812543, -0.3578332 ,
          -0.32297924, -0.3578332 , -0.3578332 , -0.2532716 , -0.3578332 ,
          -0.3752601 , -0.28812543, -0.21841761, -0.34040615, -0.27069852,
          -0.27069852, -0.30555233, -0.28812543, -0.3752601 , -0.3752601 ]],
        dtype=float32)},
 {'series_id': 0,
  'date': '2018-08-14',
  'step': 139,
  'event': 0,
  'X': array([[ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
           0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
           0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
           0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
         [-0.46270823, -0.4675436 , -0.46874472, -0.46795517, -0.4679915 ,
          -0.46780765, -0.46659625, -0.46721497, -0.46787757, -0.46833572,
          -0.46827608, -0.46682137, -0.46613035, -0.46684211, -0.4632312 ,
          -0.4643881 , -0.46827096, -0.4668032 , -0.4668032 , -0.46748927],
         [-0.3752601 , -0.28812543, -0.21841761, -0.34040615, -0.27069852,
          -0.27069852, -0.30555233, -0.28812543, -0.3752601 , -0.3752601 ,
          -0.30555233, -0.2532716 , -0.21841761, -0.32297924, -0.28812543,
          -0.30555233, -0.21841761, -0.27069852, -0.3578332 , -0.27069852]],
        dtype=float32)},
 {'series_id': 0,
  'date': '2018-08-14',
  'step': 149,
  'event': 0,
  'X': array([[ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
           0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
           0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
           0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
         [-0.46827608, -0.46682137, -0.46613035, -0.46684211, -0.4632312 ,
          -0.4643881 , -0.46827096, -0.4668032 , -0.4668032 , -0.46748927,
          -0.46800947, -0.46611732, -0.46366608, -0.46679038, -0.46754873,
          -0.4624675 , -0.46346146, -0.46295154, -0.4644426 , -0.4666843 ],
         [-0.30555233, -0.2532716 , -0.21841761, -0.32297924, -0.28812543,
          -0.30555233, -0.21841761, -0.27069852, -0.3578332 , -0.27069852,
          -0.2532716 , -0.32297924, -0.2532716 , -0.1835638 , -0.21841761,
          -0.23584452, -0.21841761, -0.2009907 , -0.23584452, -0.21841761]],
        dtype=float32)},
 {'series_id': 1,
  'date': '2018-05-31',
  'step': 28,
  'event': 0,
  'X': array([[ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
           0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
           0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
           0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
         [ 3.4983635 ,  3.2104573 ,  3.4479175 ,  3.7416735 ,  4.151511  ,
           3.8692796 ,  3.103752  ,  3.2309434 ,  3.1064167 ,  1.9260573 ,
          -0.02036191,  0.22975376,  0.49758792,  0.49758792,  0.49758792,
           0.49758792,  0.49758792,  0.49758792,  0.49758792,  0.31972635],
         [ 3.1835485 ,  2.9629571 ,  7.4569616 ,  3.6982613 ,  1.1895775 ,
           2.9370055 ,  2.8288722 ,  1.9465078 ,  4.3340826 ,  2.0805926 ,
           0.2726103 ,  0.0433685 , -0.28968087, -0.28968087, -0.28968087,
          -0.28968087, -0.28968087, -0.28968087, -0.28968087, -0.09936695]],
        dtype=float32)},
 {'series_id': 1,
  'date': '2018-05-31',
  'step': 38,
  'event': 0,
  'X': array([[ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
           0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
           0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
           0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
         [-0.02036191,  0.22975376,  0.49758792,  0.49758792,  0.49758792,
           0.49758792,  0.49758792,  0.49758792,  0.49758792,  0.31972635,
           1.395797  ,  3.8451002 ,  1.4407895 , -0.3410376 , -0.34422866,
          -0.35089803, -0.34692678, -0.3463187 , -0.3463187 , -0.3463187 ],
         [ 0.2726103 ,  0.0433685 , -0.28968087, -0.28968087, -0.28968087,
          -0.28968087, -0.28968087, -0.28968087, -0.28968087, -0.09936695,
           1.306361  ,  1.36259   ,  1.4620724 ,  0.28558624,  0.20340523,
           0.19475457,  0.00876597, -0.28968087, -0.28968087, -0.28968087]],
        dtype=float32)},
 {'series_id': 1,
  'date': '2018-05-31',
  'step': 48,
  'event': 0,
  'X': array([[ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
           0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
           0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
           0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
         [ 1.395797  ,  3.8451002 ,  1.4407895 , -0.3410376 , -0.34422866,
          -0.35089803, -0.34692678, -0.3463187 , -0.3463187 , -0.3463187 ,
          -0.3463187 , -0.3463187 , -0.3463187 , -0.3463187 , -0.3463187 ,
          -0.3463187 , -0.3463187 , -0.3463187 , -0.3463187 , -0.3463187 ],
         [ 1.306361  ,  1.36259   ,  1.4620724 ,  0.28558624,  0.20340523,
           0.19475457,  0.00876597, -0.28968087, -0.28968087, -0.28968087,
          -0.28968087, -0.28968087, -0.28968087, -0.28968087, -0.28968087,
          -0.28968087, -0.28968087, -0.28968087, -0.28968087, -0.28968087]],
        dtype=float32)},
 {'series_id': 1,
  'date': '2018-05-31',
  'step': 58,
  'event': 0,
  'X': array([[ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
           0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
           0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
           0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
         [-0.3463187 , -0.3463187 , -0.3463187 , -0.3463187 , -0.3463187 ,
          -0.3463187 , -0.3463187 , -0.3463187 , -0.3463187 , -0.3463187 ,
          -0.3463187 , -0.3463187 , -0.3463187 , -0.3463187 , -0.3463187 ,
          -0.3463187 , -0.3463187 , -0.3463187 , -0.3463187 , -0.3463187 ],
         [-0.28968087, -0.28968087, -0.28968087, -0.28968087, -0.28968087,
          -0.28968087, -0.28968087, -0.28968087, -0.28968087, -0.28968087,
          -0.28968087, -0.28968087, -0.28968087, -0.28968087, -0.28968087,
          -0.28968087, -0.28968087, -0.28968087, -0.28968087, -0.28968087]],
        dtype=float32)},
 {'series_id': 1,
  'date': '2018-05-31',
  'step': 68,
  'event': 0,
  'X': array([[ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
           0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
           0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
           0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
         [-0.3463187 , -0.3463187 , -0.3463187 , -0.3463187 , -0.3463187 ,
          -0.3463187 , -0.3463187 , -0.3463187 , -0.3463187 , -0.3463187 ,
          -0.3463187 , -0.3463187 , -0.3463187 , -0.3463187 , -0.3463187 ,
          -0.3463187 , -0.3463187 , -0.3463187 , -0.3463187 , -0.3463187 ],
         [-0.28968087, -0.28968087, -0.28968087, -0.28968087, -0.28968087,
          -0.28968087, -0.28968087, -0.28968087, -0.28968087, -0.28968087,
          -0.28968087, -0.28968087, -0.28968087, -0.28968087, -0.28968087,
          -0.28968087, -0.28968087, -0.28968087, -0.28968087, -0.28968087]],
        dtype=float32)},
 {'series_id': 1,
  'date': '2018-05-31',
  'step': 78,
  'event': 0,
  'X': array([[ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
           0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
           0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
           0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
         [-0.3463187 , -0.3463187 , -0.3463187 , -0.3463187 , -0.3463187 ,
          -0.3463187 , -0.3463187 , -0.3463187 , -0.3463187 , -0.3463187 ,
          -0.3463187 , -0.3463187 , -0.3463187 , -0.3463187 , -0.3463187 ,
          -0.3463187 , -0.3463187 , -0.3463187 , -0.3463187 , -0.3463187 ],
         [-0.28968087, -0.28968087, -0.28968087, -0.28968087, -0.28968087,
          -0.28968087, -0.28968087, -0.28968087, -0.28968087, -0.28968087,
          -0.28968087, -0.28968087, -0.28968087, -0.28968087, -0.28968087,
          -0.28968087, -0.28968087, -0.28968087, -0.28968087, -0.28968087]],
        dtype=float32)},
 {'series_id': 1,
  'date': '2018-05-31',

In [112]:
batch = next(iter(test_dataloader))

In [113]:
batch

{'X': tensor([[[0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000,
           0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000,
           0.0000, 0.0000, 0.0000, 0.0000],
          [1.6764, 1.6764, 1.6764, 1.6764, 1.6764, 1.6764, 1.6764, 1.6764,
           1.6806, 1.6880, 1.6801, 1.6734, 1.6706, 1.6706, 1.6706, 1.6706,
           1.6706, 1.6706, 2.8991, 3.0279],
          [1.1932, 1.1583, 1.1757, 1.1235, 1.1583, 1.1932, 1.1932, 1.2106,
           1.2977, 1.1932, 1.4023, 1.1757, 1.2106, 1.1409, 1.1409, 1.1409,
           1.1583, 1.1932, 4.2952, 0.3044]]]),
 'y': tensor([0.]),
 'series_id': tensor([[0.]]),
 'date': tensor([20180814]),
 'step': tensor([[19.]])}

In [ ]:
submission['series_id'] = submission['series_id'].map(id_map)

In [39]:
import pandas as pd
import torch
from torch.utils.data import DataLoader
from tqdm import tqdm
from typing import Union, Dict, List
import numpy as np
from datetime import datetime

from data import ChildInstituteDataset, to_list, extract_keys
from utils import load_config

In [40]:
config = load_config()
test_data_path = config.get('general').get('test_data').get('path')

In [41]:
test_data = pd.read_parquet(test_data_path)
test_data['event'] = 0
test_data = test_data[['series_id', 'timestamp', 'step', 'event', 'anglez', 'enmo']]
test_data['series_id'], unique_series = pd.factorize(test_data['series_id'])
id_map = {idx: id_ for idx, id_ in enumerate(unique_series)}

In [42]:
test_data.head()

   series_id                 timestamp  step  event  anglez    enmo
0          0  2018-08-14T15:30:00-0400     0      0  2.6367  0.0217
1          0  2018-08-14T15:30:05-0400     1      0  2.6368  0.0215
2          0  2018-08-14T15:30:10-0400     2      0  2.6370  0.0216
3          0  2018-08-14T15:30:15-0400     3      0  2.6368  0.0213
4          0  2018-08-14T15:30:20-0400     4      0  2.6368  0.0215

In [46]:
def preprocess(data, key: List[str] = ['series_id'], **kwargs) -> pd.DataFrame:
    data.rename(columns={'timestamp': 'date'}, inplace=True)

    if isinstance(data.date[0], (np.int0, np.int8, np.int16, np.int32, np.int64)):
        return data

    if not isinstance(data.date[0], datetime):
        data.date = data.date.astype(str).str.replace(r'[-+]\d{2}00$', '',regex=True)
        data.date = pd.to_datetime(
            data.date,
            format='%Y-%m-%dT%H:%M:%S',
            utc=True)
        data.date = data.date.dt.date
        data.date = data.date.astype('datetime64[ns]')

    if isinstance(data.date[0], datetime):
        data.date = (
            data.date
            .fillna(-1)
            .astype(str)
            .str.replace('-', '')
            .str.replace('^20', '', regex=True)
            .astype(np.int32)
        ) - 100000

    return data

preprocessed_data = preprocess(test_data)

In [47]:
preprocessed_data

     series_id   date  step  event     anglez    enmo
0            0  80814     0      0   2.636700  0.0217
1            0  80814     1      0   2.636800  0.0215
2            0  80814     2      0   2.637000  0.0216
3            0  80814     3      0   2.636800  0.0213
4            0  80814     4      0   2.636800  0.0215
..         ...    ...   ...    ...        ...     ...
445          2  81218   145      0 -59.696899  0.0601
446          2  81218   146      0 -35.656601  0.0427
447          2  81218   147      0 -21.582399  0.0309
448          2  81218   148      0 -42.616001  0.0328
449          2  81218   149      0   7.029900  0.0081

[450 rows x 6 columns]